
Health Potion Project/Library/PackageCache/com.unity.burst@1.8.2/.Runtime/libburst-llvm-14.dylib
Health Potion Project/Library/ArtifactDB
Health Potion Project/Library/ArtifactDB
Health Potion Project/Library/ArtifactDB
Health Potion Project/.vs/Health Potion Project/FileContentIndex/159db965-c275-4b72-9cd6-048a3b390fe2.vsidx
Health Potion Project/.vs/Health Potion Project/FileContentIndex/9316a0d3-980e-4006-b485-fa99c9215f2b.vsidx
Health Potion Project/.vs/Health Potion Project/FileContentIndex/159db965-c275-4b72-9cd6-048a3b390fe2.vsidx
Health Potion Project/.vs/Health Potion Project/FileContentIndex/ade1b831-9bf8-4178-afc6-0b8c291c642e.vsidx
Health Potion Project/.vs/Health Potion Project/FileContentIndex/159db965-c275-4b72-9cd6-048a3b390fe2.vsidx
Health Potion Project/.vs/Health Potion Project/FileContentIndex/ade1b831-9bf8-4178-afc6-0b8c291c642e.vsidx
Health Potion Project/.vs/Health Potion Project/FileContentIndex/e1215ba1-40ea-4bea-b463-39b592c62216.vsidx
Health Potion Project/.vs/Health Potion Project/v17/.suo
Health Potion Project/.vs/Health Potion Project/v17/.suo
Health Potion Project/Library/Artifacts/
*.vsidx
